body, html{
   height:100%;
   margin:0;
   font-size:16px;
   font-family:"Lato", sans-serif;
   font-weight:400;
   line-height:1.8em;
   color:#666;
 }
 .custom-toggler{
  background-color: #17a2b8;
}
.navbar-collapse {
    
  background-color:#17a2b8 !important/* here */
  
}
.navbar{
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-brand{
  margin-left: 5% !important;
}

 #preloader  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
 height: 100%;
}

#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(./images/loader3.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

h1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: poppins;
}
 .navbar navbar-expand-sm bg-primary navbar-dark justify-content-center{
   position: fixed;
 }
 

 
 .section{
   text-align:center;
   padding:50px 80px;
 }
 
 .section-light{
   background-color:#f4f4f4;
   color:#666;
 }
 
 .section-dark{
   background-color:#282e34;
   color:#ddd;
 }
 




 body, html {
  height: 100%;
  text-align: center;
}

.loader {
display: inline-block;
width: 30px;
height: 30px;
position: relative;
border: 4px solid #Fff;
top: 50%;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}
  .preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(7, 95, 228);
    z-index: 999999;
    transition: opacity 0.5s ease;
  }

  .preload-finish{
    opacity: 0;
    pointer-events: none;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .events_cover{
    margin-top: 0px;
    padding-top: 0px;
  }
  












  * {
    margin: 0;
    padding: 0;
  }
  
  
 
  
  
  .sectionTitles {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding-top: 25%;
    padding-bottom: 25%;
  }
  
  .parallax {
    min-height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #image1 {
    background-image: url("./events/2.JPG");
    height: 100vh;
  }
  
  #image2 {
    background-image: url("./events/1.jpg");
    
    
  }
  
  #image3 {
    background-image: url("./events/3.jpg");
  }
  
  #image4 {
    background-image: url("./events/4.jpg");
  }
 









  