.box{
    position:relative;
    padding:0;
    width:300px;
    display:block;
    cursor:pointer;
    overflow:hidden;
    }
    .content {
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:0;
    left:0;
    color:#ebf5fc;
    background-color:rgba(88, 87, 87, 0.50);
    width:300px;
    height:400px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align:center;
    }
    .box .content:hover { opacity:1; }      
    .box .content .text {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
    }
    .box .content:hover .text {
    opacity:1;
    transform: translateY(180px);
    -webkit-transform: translateY(180px);
    }

    