
body, html {
    background: #fff;
    height: 100%;
    text-align: center;
}
.team{
  margin: 75px 0;
}
.custom-toggler{
  background-color: #17a2b8;
}
.navbar-collapse {
    
  background-color:#17a2b8 !important/* here */
  
}
h1{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #333333;
}
h1::after{
  content: "";
  background: #333333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}
p{
  font-weight: bold;
  color: #Fff;
  font-family: cursive;
  letter-spacing: 2px;
}
.team-area{
  padding-top: 5%;
  
}
.single-team{
  background-color: #fff;
  margin-bottom: 10px;
}
.single-team:hover .social{
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.img-area{
  overflow: hidden;
  position: relative;
}
.img-area img{
  width: 100%;
}
.img-area:hover img{
  transform: scale(1.2);
}
.img-area img{
  transition: all 0.4s ease 0s;
}
@media (max-width:768px){
  .img-area img{
    display: inline-block;
  }
}
.img-area .social{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s;
  transform: scaleY(180deg) scale(0.5,0.5);
}
.img-area .social ul{
  text-align: center;
  position: relative;
  top: 90px;
  
  
}
.img-area .social ul li a{
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.img-area .social ul li a:hover{
  background-color: #fff;
  color: #000000;
  border: 1px solid transparent;
}
.img-text{
  padding: 25px;
  color: #000000;
  text-align: center;

}

  .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
  }
  
  .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
  }
  
  @keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
  }
    .preload{
      position: fixed;
      top: 0;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: rgb(7, 95, 228);
      z-index: 999999;
      transition: opacity 0.5s ease;
    }
  
    .preload-finish{
      opacity: 0;
      pointer-events: none;
    }
  
    .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }