
#heading 
        {
            height:100vh;
            width:100%;
            background: url('./img/main_gear1.jpg')  100% 100% no-repeat;
            text-align: center;
    
        }
    .vertical 
    {
            color:white;
            vertical-align:middle;
            font-weight: 900;
            font-size: 100px;
            margin: auto 0;
            padding-top: 20%;        
    }
    
    .vertical_1 
        {
            color:white;
            vertical-align:middle;
            font-weight: 500;
            margin: 0.4em 0;
            padding-bottom: 20%;
    }

.bg-dark {
    background-color: rgba(255, 0, 0, 0)!important;
    padding-top: 20px;
}

ul.nav a:hover { color: rgb(0, 0, 0) !important; }

.heading{
    height: 100vh;
    background-color: grey;
}

section {padding:10rem;}
.bg-primary {background-color:#007aeb;color:#fff;}

nav.unscroll {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

nav.scroll {
    background-color: orange;
    color: black;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

.highlights{
    background-image: url('./img/gear.jpg') !important;   
}

.text-white{
    color: white;
}

.text-dark{
    color: darkslategray;
}
