
.heading 
        {
            height:100vh;
            width:100vw;
            max-height: 1200px;
            text-align: center;
    
        }
    .vertical 
    {
            color:white;
            vertical-align:middle;
            font-weight: 900;
            font-size: 100px;
            margin: auto 0;
            padding-top: 20%;        
    }
    
    .vertical_1 
        {
            color:white;
            vertical-align:middle;
            font-weight: 500;
            margin: 0.4em 0;
            padding-bottom: 20%;
    }

    .sports{
        background-image: url('./img/virat.jpg') !important;
        height: auto;
        max-width: 100%;
    }
     .workshops{
        background-image: url('./img/2.jpg') !important;
        max-width: 100%;
        height: auto;
    }
     .events{
        background-image: url('./img/1-min.jpg') !important;
        height: auto;
        min-width: 100%;
        background-repeat: no-repeat;
    }
    .team{
        background-image: url('./img/banner.jpg') !important;
        height: auto;
        max-width: 100%;
    }


.bg-dark {
    background-color: rgba(255, 0, 0, 0)!important;
    padding-top: 20px;
}

ul.nav a:hover { color: rgb(0, 0, 0) !important; }




.bg-primary {background-color:#007aeb;color:#fff;}

nav.unscroll {
    background-color: white;
    color: black;
  }

nav.scroll {
    background-color: rgb(255, 123, 0);
    font-weight:bold;
    color: black;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

.cover_main{
    background-image: url('./img/img-b.jpg') !important;
    max-height: 80vh;   
}

.contain-section{padding:8rem !important;}

.contain-section-small{padding:2rem !important;}

.LargeFont{
    font-size: large;
}

.heading_text{
    vertical-align:middle;
    font-weight: 600;
    text-align: center;
}

.highlights{
    background-image: url('./img/gear.jpg') !important;   
}

.highlights_events{
    background-image: url('./img/4.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.highlights_workshops{
    background-image: url('./img/ev.jpeg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.choose{
    object-fit: cover;
    max-width: 85vw;
    padding: 0px;
    margin: 0px;
}

.chooses{
    background-color: black;
}

.text-white{
    color: white;
}

.text-dark{
    color: darkslategray;
}

hr.style-hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.register{
    margin-bottom: 2rem !important;
}

.team-head{
    margin: 2rem;
}
@media (max-width: 768px){
    .heading{
      width: 40vh;
    }
  }
  @media (max-width: 992px){
    .heading{
        width: 60vh;
    }
  }

  .center{
      text-align: center;

  }


  .team-area{
    padding-top: 5%;
    
  }
  .single-team{
    background-color: #fff;
    margin-bottom: 10px;
  }
  .single-team:hover .social{
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
  }
  .img-area{
    overflow: hidden;
    position: relative;
  }
  .img-area img{
    width: 100%;
  }
  .img-area:hover img{
    transform: scale(1.2);
  }
  .img-area img{
    transition: all 0.4s ease 0s;
  }
  @media (max-width:768px){
    .img-area img{
      display: inline-block;
    }
  }
  .img-area .social{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;
    transform: scaleY(180deg) scale(0.5,0.5);
  }
  .img-area .social ul{
    text-align: center;
    position: relative;
    top: 90px;
    
    
  }
  .img-area .social ul li a{
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
  }
  .img-area .social ul li a:hover{
    background-color: #fff;
    color: #000000;
    border: 1px solid transparent;
  }
  .img-text{
    padding: 25px;
    color: #000000;
    text-align: center;
  
  }
  
  