body, html{
   height:100%;
   margin:0;
   font-size:16px;
   font-family:"Lato", sans-serif;
   font-weight:400;
   line-height:1.8em;
   color:#666;
 }
 .custom-toggler{
  background-color: #17a2b8;
}
.navbar-collapse {
    
  background-color:#17a2b8 !important/* here */
  
}
 #preloader  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
 height: 100%;
}

#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(./images/loader3.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

h1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: poppins;
}
 .navbar navbar-expand-sm bg-primary navbar-dark justify-content-center{
   position: fixed;
 }
 
 .pimg1, .pimg2, .pimg3 , .pimg4 , .pimg5{
   position:relative;
   opacity:0.70;
   background-position:center;
   background-size:cover;
   background-repeat:no-repeat;
 
   /*
     fixed = parallax
     scroll = normal
   */
   background-attachment:fixed;
 }
 
 .pimg1{
   background-image:url('./events/2.JPG');
   min-height:100%;
 }
 
 .pimg2{
   background-image:url('./images/5.jpg');
   min-height:400px;
 }
 
 .pimg3{
   background-image:url('./images/3.jpg');
   min-height:400px;
 }

 .pimg4{
   background-image:url('./images/4.jpg');
   min-height:100%;
 }

 .pimg5{
  background-image:url('./events/1.jpg');
  min-height:400px;
}
 
 .section{
   text-align:center;
   padding:50px 80px;
 }
 
 .section-light{
   background-color:#f4f4f4;
   color:#666;
 }
 
 .section-dark{
   background-color:#282e34;
   color:#ddd;
 }
 
 .ptext{
   position:absolute;
   top:50%;
   width:100%;
   text-align:center;
   color:#000;
   font-size:27px;
   letter-spacing:8px;
   text-transform:uppercase;
 }
 
 .ptext .border{
   background-color:#111;
   color:#fff;
   padding:20px;
 }
 
 .ptext .border.trans{
   background-color:transparent;
 }
 
 @media(max-width:568px){
   .pimg1, .pimg2, .pimg3 , .pimg4 , .pimg5{
     background-attachment:scroll;
   }
 }




 body, html {
  height: 100%;
  text-align: center;
}

.loader {
display: inline-block;
width: 30px;
height: 30px;
position: relative;
border: 4px solid #Fff;
top: 50%;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}
  .preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(7, 95, 228);
    z-index: 999999;
    transition: opacity 0.5s ease;
  }

  .preload-finish{
    opacity: 0;
    pointer-events: none;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
 